$background: #5f625f
$border: #343432
$font: #20201f


.Card
    color: $font
    background-color: $background
    border-top: 10px solid $border
    border-bottom: 10px solid $border
    border-radius: 10px
    padding: 5px 40px
    margin: 20px
    transition: all .3s ease-in-out
    cursor: pointer

    li, p
        font-size: 18px
        font-family: arial
    li
        margin-bottom: 3px
    h4
        margin: 0
        font-size: 18px
    ul
        list-style: none
        margin: 0
        padding: 0
        margin-bottom: 10px
    &:hover
        border-bottom: 10px solid #f6d451


h2
    text-align: center
    border-bottom: 2px solid $font
    text-transform: capitalize

.spriteContainer
    display: flex

    .Sprite
        margin: auto
